h1,h2,h3,h4,h5,p,ul {
  font-family: 'Lora', serif;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bg-darkk {
  background-color: rgb(Grey);
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: #2F353B;
  border: solid black;
  border-width: 1px 0;
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
